# Laravel
/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/logs
/storage/framework/*
!storage/framework/.gitignore

# Environment files
.env
.env.*
!.env.example

# PHPUnit
.phpunit.cache
.phpunit.result.cache

# Composer
auth.json
composer.lock (OPTIONAL - see note below)

# NPM
npm-debug.log
yarn-error.log
pnpm-debug.log

# IDE
/.idea
/.vscode
/.fleet
/.zed
.phpactor.json

# OS
.DS_Store
Thumbs.db

# Homestead
Homestead.json
Homestead.yaml
